/* pokemons */
.pokemons_display{
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  justify-content: space-evenly;
  overflow: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding-bottom: 30px;
  max-width: 1224px;
  min-width: 427px;
  background-color: #ffffff;
 }
.pokemons_display>div:hover{
  cursor: pointer;
}
.brif_info{
  text-align: center;
  margin-top: -20px;
}
.pokimg{
  width: 174px;
}
.main_page_pokemon_name{
  display: inline;
  color: #30549b;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.main_page_pokemon_name:hover{
  color: #5c91fc;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 80, 80);
}
.types_under_name{
  margin-top: 5px;
}
  /* moves */
.moves_display{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  overflow-x:  scroll;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding-bottom: 30px;
  min-width: 427px;
  background-color: #ffffff;
}
.moves_cont{
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  min-width: 827px;
}
.move_row{
  text-align: left;
  justify-content: left;
  width: 100%;
  min-width: 427px;
  border-bottom: solid black 1px;
}
.move_name{
  width: 120px;
  text-align: left;
  padding-left: 20px;
}
.move_class{
  width: 120px;
  height: 20px;
  text-align: left;
  
}
.move_type{
width: 70px;
text-align: left;
}
.move_brif{
  width: 300px;
  text-align: left;
  
}
.move_numbers{
  width: 50px;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

}
.table_header{
  height: 40px;
  background-color: rgb(90, 77, 77);
  border-bottom: solid black 2px;
}


@media screen and (min-width : 1224px){
  .moves_display{
    width: 1224px;
    
  }
  .moves_cont{
    width: 1224px;
  }
}
@media screen and (max-width : 1224px){
  .moves_display{
    max-width: 824px;
  }
  .moves_cont{
    max-width: 1224px;
  }
}